<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur le site de chorut's</title>
        <link rel="stylesheet" href="{{base_url}}/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{base_url}}/bootstrap/css/bootstrap-responsive.min.css"/>
        <meta charset="utf8">
        {%block header%}
        {%endblock%}
    </head>
    
    <body>
        <!--Barre de navigation-->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Chorut's</a>
                <ul class="nav">
                    <li {%if is_admin_panel != 1 %} class="active" {%endif%}><a href="{{base_url}}">Accueil</a></li>
                    {%if admin_panel_acces == 1 %}
                        <li {%if is_admin_panel == 1 %} class="active" {%endif%}><a href="{{base_url}}/adminpanel">Panneau d'administration</a></li>
                        <li><a href="http://assos.utc.fr/gesmail">Mailing list</a></li>
                    {%endif%}
                    {%block navbar %}
                    {%endblock%}
                 </ul>
                <ul class="nav pull-right">
                    {%if logged_in == true %}
                        <li>
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {{prenom}} {{nom}}
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{base_url}}/users/profile/{{user_id}}">Mon compte</a></li>
                                        <li><a href="{{base_url}}/auth/logout">Deconnexion</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {%else%}
                        <li><a href="{{base_url}}/auth/login">Se connecter</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
        
        <div class="container-fluid">                     
            <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav"> 
                        <ul class="nav nav-list">
                            <li class="nav-header">Navigation</li>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Calendrier</a></li>
                            <li><a href="{{base_url}}/choruts/apropos">À propos de Chorut's</a></li>
                            {%if view_private_part == true %}
                            <li class="nav-header">Pour les choristes</li>                            
                            <li><a href="#">Dernières réunions</a></li>
                            <li><a href="#">Partage de fichiers</a></li>
                            <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AvThPhkPWyHvdFZ6a004OUhHNWJGTGZITXlfNXdJSGc&usp=sharing">Idées proposées</a></li>
                            <li><a href="{{base_url}}/files/">OwnCloud</a></li>
                            <li><a href="http://choruts-rdvamidi.no-ip.org/">OwnCloud d'Amaury</a></li>
                            {%endif%}
                        </ul>
                    </div>                    
                    
                    {%block menu %}
                    {%endblock%}
                </div>                
                <div class="span9">
                    {%block contenue %}
                    {%endblock%}
                    
                    {%if view_private_part == true %}                    
                        <iframe src="https://docs.google.com/forms/d/1FAwuiAQOfTnA6O-y0EUUmHMfwYLKhrv0PLQRi39ZPWI/viewform?embedded=true" width="100%" height="400" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>                   
                   {%endif%}
                </div>
                
            </div> 
         </div>
        
        <hr>
        
        <p class="text-center">Site codé par <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#119;&#97;&#99;&#104;&#101;&#117;&#120;&#46;&#117;&#116;&#99;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Antoine Wacheux</a> pour Chorut's. | <a href="https://github.com/Shiroy/choruts-portail">Depôt GitHub</a> | <a href="https://github.com/Shiroy/choruts-portail/issues">Rapporter un bug ou suggérer une nouvelle fonctionnalité</a></p>
            
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{base_url}}/bootstrap/js/bootstrap.js"></script>
    </body>
</html>
        