<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur le site de chorut's</title>
        <link rel="stylesheet" href="{{base_url}}/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{base_url}}/bootstrap/css/bootstrap-responsive.min.css"/>
        <meta charset="utf8">
        {%block header%}
        {%endblock%}
    </head>
    
    <body>
        <!--Barre de navigation-->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Chorut's</a>
                <ul class="nav">
                    <li {%if is_admin_panel != 1 %} class="active" {%endif%}><a href="{{base_url}}">Accueil</a></li>
                    {%if admin_panel_acces == 1 %}
                        <li {%if is_admin_panel == 1 %} class="active" {%endif%}><a href="{{base_url}}/adminpanel">Panneau d'administration</a></li>
                        <li><a href="http://assos.utc.fr/gesmail">Mailing list</a></li>
                    {%endif%}
                    {%block navbar %}
                    {%endblock%}
                 </ul>
                <ul class="nav pull-right">
                    {%if logged_in == true %}
                        <li>
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {{prenom}} {{nom}}
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Mon compte</a></li>
                                        <li><a href="{{base_url}}/auth/logout">Deconnexion</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {%else%}
                        <li><a href="{{base_url}}/auth/login">Se connecter</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
        
        <div class="container-fluid">                     
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav"> 
                        <ul class="nav nav-list">
                            <li class="nav-header">Navigation</li>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Calendrier</a></li>
                            <li><a href="#">À propos de Chorut's</a></li>
                            <li class="nav-header">Pour les choristes</li>
                            <li><a href="#">Dernières réunions</a></li>
                            <li><a href="#">Partage de fichiers</a></li>
                        </ul>
                    </div>
                    {%block menu %}
                    {%endblock%}
                </div>                
                <div class="span9">
                    {%block contenue %}
                    {%endblock%}
                </div>                
            </div> 
         </div>
            
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{base_url}}/bootstrap/js/bootstrap.js"></script>
    </body>
</html>
        