{%extends "user.html.twig"%}

{%block contenue%}
<div class="row-fluid"><h1 class="text-center">Profil d'un utilisateur</h1></div>

{%if editable==true %}
<form method="post" action="{{base_url}}/users/updateprofile">
    <input type="hidden" value="{{userId}}" name="userId"/>
{%endif%}

<div class="row-fluid">
    <table class="table">
        <tr>
            <td>Nom de connexion</td>
            <td>{{profile.user}}</td>
        </tr>
        <tr>
            <td>Prenom</td>
            <td>{%if editable==true %} <input type="text" value="{{profile.prenom}}" name="prenom"/> {%else%} {{profile.prenom}} {%endif%}</td>        
        </tr>
        <tr>
            <td>Nom</td>
            <td>{%if editable==true %} <input type="text" value="{{profile.nom}}" name="nom"/> {%else%} {{profile.nom}} {%endif%}</td>        
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{%if editable==true %} <input type="text" value="{{profile.mail}}" name="mail"/> <a href="mailto:{{profile.mail}}">M'écrire</a> {%else%} <a href="mailto:{{profile.mail}}">{{profile.mail}}</a>{%endif%}</td>
        </tr>
        <tr>
            <td>Téléphone</td>
            <td>{%if editable==true %} <input type="text" value="{{profile.telephone}}" name="telephone"/> {%else%} {%if profile.telephone == "" %} Non renseigné {%else%} {{profile.telephone}} {%endif%} {%endif%}</td>
        </tr>
        <tr>
            <td>Pupitre</td>
            <td>{%if editable==true %}
                <select name="pupitre">
                    <option value="soprano" {%if profile.type_voix == "soprano"%} selected="selected" {%endif%}>soprano</option>
                    <option value="alto" {%if profile.type_voix == "alto"%} selected="selected" {%endif%}>alto</option>
                    <option value="tenor" {%if profile.type_voix == "tenor"%} selected="selected" {%endif%}>tenor</option>
                    <option value="basse" {%if profile.type_voix == "basse"%} selected="selected" {%endif%}>basse</option>
                </select> {%else%} {{profile.type_voix}} {%endif%}</td>
        </tr>
    </table>
</div>    
    {%if editable==true %}
    <input class="btn btn-primary" type="submit" value="Mettre à jour"/>    
    </form>
    {%endif%}

<form action="{{base_url}}/adminpanel/groupeaddfromprofile/{{userId}}" method="post">
    <select name="groupe">
        {%for grp in groupe%}
        <option value="{{grp.id}}">{{grp.nom}}</option>
        {%endfor%}
    </select>
    <input type="submit" class="btn btn-primary" value="Ajouter au groupe"/>
</form>

{%endblock%}