{%extends "user.html.twig"%}

{%block contenue%}
<div class="row-fluid"><h1 class="text-center">Profil d'un utilisateur</h1></div>

<div class="row-fluid">
    <table class="table">
        <tr>
            <td>Nom de connexion</td>
            <td>{{profile.user}}</td>
        </tr>
        <tr>
            <td>Prenom</td>
            <td>{{profile.prenom}}</td>        
        </tr>
        <tr>
            <td>Nom</td>
            <td>{{profile.nom}}</td>        
        </tr>
        <tr>
            <td>E-mail</td>
            <td><a href="mailto:{{profile.mail}}">{{profile.mail}}</a></td>
        </tr>
        <tr>
            <td>Téléphone</td>
            <td>{%if profile.telephone == "" %} Non renseigné {%else%} {{profile.telephone}} {%endif%}</td>
        </tr>
        <tr>
            <td>Pupitre</td>
            <td>{{profile.type_voix}}</td>
        </tr>
    </table>
</div>
{%endblock%}